*~
.[#]*
[#]*[#]
*.Po
*.o
config.h.in
config.h
*.log
config.status
libtool
.deps
stamp-h1
configure
Makefile
Makefile.in
/autom4te.cache
/depcomp
/ltmain.sh
/INSTALL
/install-sh
/missing
/m4/lt*.m4
/aclocal.m4